
.bar
{
    border: 1px solid red;
    display: flex;
    position: fixed;
    justify-content:space-between;
    width: 99%;
   
    
}
.logo
{
    border: 1px solid red;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1
{
    border: 1px solid red;
}
.user-icon
{
    border: 1px solid red;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.big-box
{
    border: 1px solid red;
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.washing-machine1
{
    border: 1px solid red;
    border-radius: 30px;
    width: 50%;
    height: 400px;
    padding: 10px;
}
.space_y
{
    border: 1px solid red;
    height: 45px;
}
.space_x
{
    border: 1px solid red;
    width: 10px;
}
.washing-machine2
{
    border: 1px solid red;
    border-radius: 30px;
    width: 50%;
    height: 400px;
    padding: 10px;
}
header
{
    border: 1px solid red;
    width: 99%;
    display: flex;
   
}
.logo-inbox
{
    
    width: 25%;
    border: 1px solid red;
}
.using
{
    border: 1px solid red;
    width: 60%;
    
}
.using-name , .using-contact  
{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content:start;
    height: 50%;
}
.time
{
    border: 1px solid red;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 30%;
}
footer
{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr ; 
    grid-template-rows:  1fr 1fr;
    grid-template-areas: 
                'none next'
                'none button';
    gap: 5px;
    align-items: end;
    width: 99%;
    height: 60%;
}
.none
{
    border: 1px solid black;
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    grid-area: none;
}
.next
{
    border: 1px solid black;
    background-color: blueviolet;
    text-align: center;
    width: 100%;
    height: 100%;
    grid-area: next;


}
.book_report
{
    display: flex;
    background-color: blueviolet;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    grid-area: button;
    /* margin: 20px; */
    width: 100%;
    height: 100%;
    /* width: 40%; */
}
button
{
    width: 40%;
    height: 50%;
    font-size: x-large;
}